<div class="div1" *ngIf = 'param == "i"'  vlaue="text1">
  
    <P style="text-align: justify; margin: 16px;">The goal of the game is to convey the background, mechanics, and aesthetics. The game serves as a central repository 
      of knowledge for a game design  during the development process. As such, this means that the document is frequently a
       living document that is constantly updated throughout the lifecycle of a game. Furthermore, technically the game is 
       developed with minimalist code through animations, usage of conditional statements and the functionality of this game
         is based upon increment and decrement values.
      </P>
  </div>
  
  <div class="div2"  *ngIf = 'param == "k"' value="text2">
    
    <p style="text-align: justify ; margin: 16px ;">This Bank Application System lets users login into accounts, make transactions,
       access account information and delete account all through software.
  
      This Bank Application System project has been designed in JavaScript and various actions have different panels.
       It keeps logs of all the transactions made whether it is transfered or recieved the amount. One can login into account and even delete an existing one.
       This gives user the facility to work in one’s own comfort and at a time convenient for them.
      </p>
      <div style="margin: 16px ;">
      <h3 >First account credentials:</h3>
      <p>user name: ia<br>  passowrd: 1111</p>
    </div>
    <div style="margin: 16px ;">
      <h3>second account credentials:</h3>
      <p>user name: aa <br> passowrd: 2222</p>
    </div>
      
  
      
  </div>
  <div class="div3"  value="text3"  *ngIf = 'param == "j"'>
    <p style="text-align: justify; margin: 16px;">The project: “Quiz app” is a of quizze questions on  technical. A user can access/play all of the quiz and can attempt any of the one. There will be limited number of questions 
      and for each correct answer user will get a credit score. and there will be a timer we should complete within the specific time.  </p>
  </div>
  <div class="div4" value="text4"   *ngIf = 'param == "a"'>
    <p style="text-align: justify; margin: 16px;">This web application manage updates both from the job seekers as well
      as the companies. It’s unique development methodology helps in acquiring the client
      and candidate information and separating them according to the job requirements
      and vacancies.
      The online access to it provides details of the job. Being an user he can
      publish vacancy details and can search no of Employees on portal and also he can
      search candidates on basis of the key skill which employee search.</p>
  </div>
