
 <header class="header">
  <nav class="nav">
    <h2>Portfolio</h2>
    <!-- <img src="logo.png" alt="Bankist logo" class="nav__logo" id="logo" data-version-number="3.0" /> -->
    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" href="#section--2">projects</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--3">profiles</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link nav__link--btn btn--show-modal" href="../assets/profile irshad.docx">Resume Download</a>
      </li>
    </ul>
  </nav>

  <div class="header__title">
    <h1>
      Mohammed
      <!-- Green highlight effect -->
      <span class="highlight">Irshad</span>
      Ali<br />
      <span class="highlight">Web Developer</span>
    </h1>
    <h4 style="font-size: 20px ;">Hi Welcome, I'am a devloper and I Like to craft solid and scalable frontend products with great user experience. Highly skilled at progressive enhancement</h4>

    <img src="../assets/photo.avif" class="header__img" alt="Minimalist bank items" />
  </div>
</header>


<section class="section" id="section--2" >
  <h2 class="section__description" style="margin-top: -100px ; font-size: 25px; font-style: italic;">Projects</h2>

  <div class="projectsDiv" id="projects">
    <mat-card class="project" id="p1">
      <h2 style="margin-left: 5px ;">project 1 - snake game</h2>
      <ul style="margin-left:30px;">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <div style="display: flex ; flex-direction: row; margin: 5px;">
      <button type="button" mat-raised-button (click)="openDialog('i')" #p1 style="display: flex ; margin: 3px; margin-left: 35px">description</button>
      <button type="button" target="_blank" onclick="window.open('https://irsnakegame.netlify.app/', '_blank')" style="display: flex ; margin: 3px; margin-left: 50px"  mat-raised-button>Open</button>
    </div>
    </mat-card>
    <mat-card class="project" id="p2">
     <h2  style="margin-left: 10px ;"> project 2 - Bankist-App</h2>
      <ul style="margin-left: 30px ;">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <div style="display: flex ; flex-direction: row; margin: 5px; ">
      <button type="button" mat-raised-button (click)="openDialog('k')" value="text2" #p2 style="display: flex ; margin: 3px; margin-left: 35px">description</button>
      <button type="button" target="_blank" onclick="window.open('https://irshadalibankistapp.netlify.app/', '_blank')" style="display: flex ; margin: 3px; margin-left: 50px" mat-raised-button>Open</button>
    </div>
    
    </mat-card>
    
    <mat-card class="project" id="p3">
     <h2 style="margin-left: 10px ;"> project 3 - QuizApp</h2>
      <ul style="margin-left: 30px ;">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <div style="display: flex ; flex-direction: row; margin: 5px;">
      <button type="button" mat-raised-button (click)="openDialog('j')" #p3 style="display: flex ; margin: 3px; margin-left: 35px">description</button>
      <button type="button" target="_blank" onclick="window.open('https://quizapp0562.netlify.app/', '_blank')" style="display: flex ; margin: 3px; margin-left: 50px" mat-raised-button>Open</button>
    </div>
    </mat-card>
    <mat-card class="project" id="p4">
     <h2 style="margin-left: 10px ;"> project 4 - SearchJobs</h2>
      <ul style="margin-left: 30px ;">
        <li>Html</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul> 
      <div style="display: flex ; flex-direction: row; margin: 5px;">
      <button type="button" mat-raised-button (click)="openDialog('a')" #p4 style="display: flex ; margin: 3px; margin-left: 35px">description</button>
      <button type="button" target="_blank" onclick="window.open('https://searchjobs123.netlify.app/', '_blank')" style="display: flex ; margin: 3px; margin-left: 50px" mat-raised-button>Open</button>
    </div>
    </mat-card>
      </div>
</section>



<section class="section  section--sign-up" id="section--3">
  <div class="icons">
    <span ><a href="https://github.com/mdirshadalik4n" target="_blank" > <img src="../assets/107112_github_icon.svg" alt="github icon"/> </a><p style="color: white ; font-size: 14px;">github</p></span>
    <span ><a href="https://www.linkedin.com/in/irshad-ali-870081210" > <img src="../assets/317725_linkedin_social_icon.svg" alt="linkedin"/> </a><p style="color: white ; font-size: 14px;">Linkedin</p></span>
    <span ><a href="https://www.linkedin.com/in/irshad-ali-870081210" > <img src="../assets/3225194_app_facebook_logo_media_popular_icon.svg"  alt="Facebook"/> </a><p style="color: white ; font-size: 14px;">Facebook</p></span>
  </div>
  <p class="footer__copyright" style=" display:flex; margin-top: 100px; justify-content: center;">
    &copy; Copyright by
    <a class="footer__link twitter-link" target="_blank" href="https://twitter.com/jonasschmedtman">Mohammed Irshad Ali
    </a>.
  </p>
</section>

<!-- <footer class="footer">
 
  
  <p class="footer__copyright" style=" display:flex; float: inline-end; justify-content: center;">
    &copy; Copyright by
    <a class="footer__link twitter-link" target="_blank" href="https://twitter.com/jonasschmedtman">Mohammed Irshad Ali
    </a>.
  </p>
</footer> -->

<!-- <div class="modal hidden">
  <button class="btn--close-modal">&times;</button>
  <h2 class="modal__header">
    Open your bank account <br />
    in just <span class="highlight">5 minutes</span>
  </h2>
  <form class="modal__form">
    <label>First Name</label>
    <input type="text" />
    <label>Last Name</label>
    <input type="text" />
    <label>Email Address</label>
    <input type="email" />
    <button class="btn">Next step &rarr;</button>
  </form>
</div> -->
<div class="overlay hidden"></div> 



