.section {
    padding: 15rem 3rem;
    border-top: 1px solid #ddd;
    transition: transform 1s, opacity 1s;
  }
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  .section__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  .section__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
  }
  .btn {
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  .btn:hover {
    background-color: var(--color-primary-darker);
  }
  .btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
  }
  p {
    color: #666;
  }
  /* This is BAD for accessibility! Don't do in the real world! */
  button:focus {
    outline: none;
  }
  img {
    transition: filter 0.5s;
  }
  .lazy-img {
    filter: blur(20px);
  }
  /* NAVIGATION */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
  }
  /* nav and stickly class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
  }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .nav__item {
    margin-left: 4rem;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(#4bbb7d);
    color: #333;
  }
  /* HEADER */
  .header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    flex: 1;
    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
  
    align-items: start;
    justify-items: start;
  }
  h1 {
    font-size: 5.5rem;
    line-height: 1.35;
  }
  h4 {
    font-size: 2.4rem;
    font-weight: 500;
    width: 525px;
    text-align: justify;
  }
  .header__img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    margin-top: 70px;
    transform: translateY(-6rem);
  }
  .highlight {
    position: relative;
  }
  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }  
  /* SIGNUP */
  .section--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
  }
  .section--sign-up .section__header {
    color: #fff;
    text-align: center;
  }
  .section--sign-up .section__title {
    margin-bottom: 6rem;
  }
  .section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
  }
  /* FOOTER */
  .footer {
    padding: 10rem 3rem;
    background-color: #37383d;
  }
  .footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .footer__item {
    margin-right: 4rem;
  }
  .footer__link {
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none;
  }
  .footer__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .footer__copyright {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
  }
  .footer__copyright .footer__link {
    font-size: 1.4rem;
  }
  /* MODAL WINDOW */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  /* COOKIE MESSAGE */
  .cookie-message {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    color: #bbb;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .projectsDiv{
    display: flex;
flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px;
        width: 330px;
        height: auto;
        background-color: rgb(250, 244, 244);
        color: black;
        font-size: 16px;
        font-weight: 400;
        box-shadow: #888;

        button{
            color: black;
            width: 100px;
            display: flex;
            justify-content: center;
            background-color: #5ec576;
            
        }
    }
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  img{
      width: 80px;
  }
  img:hover{
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
  }

   @media only screen and (max-width: 1000px) {
    
    img{
      width: 100px;
      margin-top: 45px;
    }

    .header__title {
      h1{
        font-size: 4.4rem;
      }

      h4{
        font-size: 16px;
        width: 420px;
      }
    }


    .project {
      
      h2{
        font-size: 18px;
      }
    }

    .icons {
      img{
        width: 70px;
      }
    }
        
      }

  


  @media only screen and (max-width: 800px) {
    
    img{
      width: 40px;
    height: 170px;
    margin-left: 7px;
      margin-top: 52px;
      
  
    }

    .header__title {
      h1{
        font-size: 3.7rem;
      }
      h4{
        font-size: 14px;
        font-weight: 460;
        width: 360px;
      }
    }

    .project {
      
      h2{
        font-size: 17px;
      }

      ul{
        li{
          font-size: 14px;
        }
      }

     button{
      font-size: 14px;
     }
    }

    .icons {
      img{
        width: 63px;
      }
    }
        
      }

  @media only screen and (max-width: 700px) {
    
    img{
      width: 43px;
    height: 150px;
    margin-left: 5px;
      margin-top: 60px;
      
  
    }

    .header__title {
      h1{
        font-size: 3.2rem;
      }

      h4{
        font-size: 12px;
        font-weight: 450;
        width: 300px;
      }
    }

    .project {
      
      h2{
        font-size: 16px;
      }

      ul{
        li{
          font-size: 13px;
        }
      }

      button{
        font-size: 13px;
       }
    }

    .icons {
      img{
        width: 55px;
      }
    }
        
      }

      @media only screen and (max-width: 600px) {
    
        img{
          width: 45px;
          height:145px;
          margin-top: 55px;
        }

        .header__title {
          h1{
            font-size: 2.5rem;
          }
          h4{
            font-size: 11px;
            font-weight: 400;
            width: 240px;
          }
        }

        .nav{
          width: 100%;
          margin-left: -100px;
        }

        .nav__link:link,
        .nav__link:visited {
          font-size: 1.6rem;
        }

        .project {
      
          h2{
            font-size: 15px;
          }

          ul{
            li{
              font-size: 11px;
            }
          }
button{
  font-size: 12px;
}
          
        }
        .icons{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img{
            width: 50px;
          }
        }

        .footer__copyright{
          font-size: 13px;
  
        .twitter-link{
          font-size: 13px;
        }
        }
            
          }

          @media only screen and (max-width: 532px) {
            
        
         
        
            // .header__title {
            //   h1{
            //     font-size: 2.7rem;
            //   }
            // }
          }

          @media only screen and  (max-width: 500px){
            
          img{
            width: 45px;
            height: 140px;
            margin-top: 50px;
          }
            .header__title {


              h1{
                font-size: 2.1rem;
              }
              h4{
                font-size: 9px;
                width: 190px;
              }
             
            }
            .nav{
              width: 100%;
              margin-left: -165px;

              h2{
                font-size: 15px;
              }

            }
            .nav__link:link,
            .nav__link:visited {
              font-size: 1.4rem;
            }

            .icons {
              img{
                width: 43px;
              }
              span{
                p{
                  font-size: 13px;
                }
              }
            }
            .footer__copyright{
              font-size: 13px;
      
            .twitter-link{
              font-size: 13px;
            }
            }
          }



          @media only screen and  (max-width: 400px){ 
img{
  margin-top: 50px;
  width: 25;
  height: 45;
}
            .header__title {
              h1{
                font-size: 1.9rem;
              }

              h4{
                font-size: 9px;
                font-weight: 350;
                width: 170px;
              }
            }

            .nav{
              width: 100%;
              margin-left: -170px;
              
              h2{
                font-size: 14px;
              }

            }

            .nav__links{
              margin: -22px;
            }

            
        .project {

      
          h2{
            font-size: 14px;
          }

          ul{
            li{
              font-size: 9px;
            }
          }
          button{
            font-size: 11px;
          }
        }
        .icons {
          img{
            width: 38px;

           
          }
span{
          p{
            font-size: 12px;
          }
        }
      }

      .footer__copyright{
        font-size: 12px;

      .twitter-link{
        font-size: 12px;
      }
      }
            
          }

